# Runtime for the MIT-licensed 50-word bootstrap BiLSTM.
# Use the newer TensorFlow/Keras serialization generation used by the
# upstream .keras artifact. TensorFlow 2.20 also uses modern ml-dtypes,
# which coexists with MediaPipe's optional JAX dependency.
tensorflow==2.20.0
